@use 'src/styles/vars';


.listevent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

    &-title {
        font-size: 40px;
        margin: 2rem;
    }
}
