@use 'src/styles/vars';

.event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;

    &-title {
        text-align: center;
        font-size: 40px;
        margin: 2rem;
    }
    &-label{
        font-size: 14px;
        font-weight: bold;
        font-family: vars.$font-txt;
    }

    &-subtitle {
        text-align: center;
        margin: 0.5rem 2rem;
    }
    
    &-form {
        width: 90%;
        margin: auto 4rem;
        max-width: 500px;
    }

    &-input {
        margin: 1rem;
        padding: 1rem 0.5rem;
        border: 1px solid black;
        font-size: 1rem;
        border-radius: 4px;
        width: 100%;
        font-weight: lighter;
    }

    &-input::placeholder {
        font-family: vars.$font-txt;
        color: grey;
        font-size: 16px;
        font-weight: 300;
    }

    &-form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0.25rem auto;
    }
    &-form-radio {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: 2rem auto;
        &-label{
        font-size: 14px;
        font-weight: bold;
        font-family: vars.$font-txt;
        }
    }
    &-alert {
        font-size: 14px;
        text-align: center;
    }

    &-button {
        margin-top: 3rem;
        border: 1px solid black;
        border-radius: 4px;
        padding: 1rem 4rem;
        background-color: vars.$font-secondary;
        color: white;
        min-width: 200px;
        font-size: 20px;
    }
}

.price{
    margin: auto 1.5rem;
}

.green {
    color: vars.$font-secondary;
}



label.importimage input[type="file"] {
    position: absolute;
    top: -1000px;
  }
.importimage {
    cursor: pointer;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 5px;
    background: #dddddd;
    display: inline-block;
  }
  
