@use 'src/styles/vars';
@import 'src/styles/mixin';

.cardevent {
    &-container {
        text-align: center;
        min-height: 360px;
        background-color: #cfe4d2;
        border-radius: 6px;
        text-align: center;
        padding: 1rem 0.5rem;
    }

    &-image {
        margin: auto;
        width: 50%;
    }

    &-button {
        display: block;
        max-width: 50%;
        margin: auto;
        background-color: vars.$font-tertiary;
    }
    &-img {
        display: block;
        width: 90%;
        margin: 1rem auto;
        max-height: 160px;
        min-height: 160px;
    }
    &-title {
        flex-wrap: wrap;
        font-family: vars.$font-title;
        font-size: 30px;
        margin: 0.2rem;
    }
    &-description {
        margin: 2 * vars.$gutter 0.5 * vars.$gutter;
        text-align: justify;
    }
    
    
    &-date {
        margin: 0 0 0.8rem 0;
        font-size: 22px;
    }
    &-adress {
        font-size: 1.2rem;
        margin: .7rem;
        color: vars.$font-secondary;
        font-weight: bold;
    }
    &-price {
        @include tag;
        background-color: vars.$font-tertiary;
        color: white;
    }
    &-capacity {
        flex-wrap: wrap;
        font-style: italic;
    }
    &-participate {
        @include btn;
        padding: 0.5rem 1rem;
        font-size: 16px;
        margin-top: 1rem;
    }
    &-button-more{
        @include btn;
        border: none;
        padding: .5rem;
    }
}

@media only screen and (min-width: 480px) {
    .cardevent {
        &-date {
            font-size: 15px;
        }
        &-button {
            font-size: 1rem;
            padding: .3rem;
            margin-bottom: .4rem;
            min-width: 130px;
        }
        &-img {
            max-width: 90%;
            max-height: 15vh;
            margin: 1rem auto;
        }
        &-title {
            font-size: 1.3rem;
            margin-bottom: .6rem;
        }
        &-adress {
            margin: .5rem 0 0 0 !important;
            font-size: 1rem;
        }
        &-button-more{
            font-size: 1rem;
            padding: 0.3rem;
            margin-top: 0;
        }
        
    }
}
