@use 'src/styles/vars';

.about {
    background-position: right 0vw top 0vh;
    background-size: cover;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    & .cardevent {
        &-container {
            width: 80%;
            margin: 1rem;
        }
        &-img {
            border-radius: 60%;
            width: auto;
        }
        &-button {
            min-width: 70%;
        }
        &-header:first-child {
            background-color: red;
        }
    }
}

@media only screen and (min-width: 550px) {
    .about {
        .cardevent {
            &-container {
                max-width: 43%;
            }
        }
    }
}

@media only screen and (min-width: 550px) {
    .about {
        .cardevent {
            &-container {
                max-width: 43%;
            }
        }
    }
}