@use 'src/styles/vars';

.footer{
    height: 4*vars.$gutter;
    font-family: vars.$font-txt;
    background: vars.$secondary-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact{
    display: flex;
    align-items: flex-start;
}

.logo-item{
    margin-right: vars.$gutter;
}